{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center;" >Report of News</h3>
    </div>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>ID</th>
                <th>Time of creation</th>
                <th>Text</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>

        <tbody>
            {% for new in news_data %}
            <tr>
                <td>{{ new.id }}</td>
                <td>{{ new.create_time }}</td>
                <td>{{ new.text }}</td>
                <td>{{ new.description }}</td>
                <td>{{ new.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block javascripts %}

<!-- include external javascript files -->
<script src="{% static 'js/report.js' %}"></script>

{% endblock %}
